@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Merriweather:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#31220b, #382e1b);
  color: #f3e7d4;
  min-height: 100vh;
  /* padding: 0 2rem; */
  width: 100%;
  /* max-width: 80%; */
  margin: 0 auto;
}

#main-header {
  padding: 2rem 0;
  /* border: 1px solid red; */
}

#main-title {
  display: flex;
  align-items: center;
}

#main-title img {
  width: 5rem;
  margin-right: 1.5rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #edbf68;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

#main-header button {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: #edbf68;
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;
}

#main-header button span {
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(-50%, -50%);
  background-color: #201e1a;
  padding: 0.35rem;
  border-radius: 12px;
  font-size: 1rem;
}

.searchInputContainer {
  width: 100%;
  background-color: #735932;
}

.searchWrapper {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.searchInput {
  width: 100%;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: #735932;
  border: none;
  outline: none;
  caret-color: #f3e7d4;
  color: #f3e7d4;
}

.searchIcon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
  padding-right: 0;
  cursor: pointer;
  background-color: #735932;
  border: 2px solid red;
}

.searchInput::placeholder {
  color: #f3e7d4;
  letter-spacing: 1px;
}

.hero {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hero p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.hero h2 {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

.hero h2 :nth-child(1),
.hero h2 :nth-child(2) {
  background-color: #735932;
  padding: 0.5rem;
  margin-left: 0.75rem;
  border-radius: 2rem;
  cursor: pointer;
}

/* #shop {
  margin: 2rem auto;
} */

/* #shop h2 {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
} */

/* #shop h2 :nth-child(1),
#shop h2 :nth-child(2) {
  background-color: #735932;
  padding: 0.5rem;
  margin-left: 0.75rem;
  border-radius: 2rem;
  cursor: pointer;
} */

#products {
  list-style: none;
  /* margin: 0 auto; */
  /* padding: 0; */
  /* display: grid; */
  /* gap: 2rem; */
  /* border: 2px solid green; */
}

.product {
  height: 100%;
  background: #5f4e33;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  border-radius: 6px;
}

.product-content {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-content h3 {
  font-size: 1.25rem;
  color: #fbd392;
  margin-bottom: 0.15rem;
}

.product:hover .product-content h3 {
  text-decoration: underline;
}

.product-price {
  font-size: 1rem;
  color: #d1b68b;
  margin: 0;
}

.product-actions {
  /* text-align: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 0;
}

.product-actions button,
.product-actions .link {
  /* background: #f4b115; */
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #201e1a;
  font-size: 1rem;
}

/* .product-actions button:hover {
  background: #f5b744;
} */

#modal {
  /* background: #d3b17b; */
  border: none;
  border-radius: 6px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

#modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

#modal h2 {
  font-size: 1.5rem;
  color: #4f3807;
  text-transform: uppercase;
  margin: 0;
}

#cart-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fbd392;
  border-radius: 5px;
  font-size: 0.9rem;
}

.cart-item-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.cart-item-actions button {
  width: 1.25rem;
  height: 1.25rem;
  background: transparent;
  border: 2px solid #201e1a;
  border-radius: 100%;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.5rem;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-actions button:hover {
  background: #f5b744;
  color: #fff;
}

.cart-item-actions button:first-of-type {
  padding-bottom: 0.2rem;
}

#cart-total-price {
  text-align: right;
}

#modal form {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

#modal form button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
}

#modal form button:hover {
  color: #453719;
}

#modal form button:last-of-type {
  background: #271e07;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #f9efda;
  font-size: 1rem;
  cursor: pointer;
}

#modal form button:last-of-type:hover {
  background: #382e1b;
}

#checkout {
  animation: fade-slide-in-from-right 0.3s ease-in-out;
}

#checkout label {
  display: block;
  margin-bottom: 0.5rem;
}

#checkout input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
